  {{#> header}}
    <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo right">[HiH] &nbsp &nbsp Hi, Human &nbsp</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="chooseAMask.html">Choose Mask ></a></li>
            <li><a href="chooseTraits.html">Choose Personality Icons > </a></li>
            <li><a href="ChooseReasons.html">Choose Reason </a></li>
          </ul>
        </div>
      </nav>

      {{/header}}